*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color_grey:#333;
}

body{
    background-color: #cecece;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color_grey);
}

section{
    padding: 15px 0;
}

.header{
    border-bottom: 1px solid var(--color_grey);
}

main{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.header main{
    justify-content: space-between;
}

.main_logo,
.main_avatar{
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.main_avatar{
    flex-direction: row-reverse;
}

img{
    display: block;
    width: 60px;
}

.nav{
    width: 30%;
    background-color: aqua;
}

.article{
    width: 70%;
    flex-grow: 1;
}

@media screen and (max-width: 550px){
    .nav{
        width: 50px;
    }
}